.MobileHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 0 30px;
  height: 48px;
  line-height: 30px;
  align-items: center;
  color: #ededed;
  user-select: none;
}
.MobileHeader.day {
  background-color: #3333ff;
}
.MobileHeader.night {
  background-color: #333333;
}
.MobileHeader .antd-icon {
  font-size: 24px;
  cursor: pointer;
}
.MobileHeader .pulldown {
  position: absolute;
  display: none;
  padding: 10px;
  right: 0;
  top: 100%;
  overflow: hidden;
  z-index: 9999;
}
.MobileHeader .pulldown.show {
  display: block;
}
.MobileHeader .pulldown.day {
  background-color: #3333ff;
}
.MobileHeader .pulldown.night {
  background-color: #333333;
}
.MobileHeader .pulldown li {
  width: 10em;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.MobileHeader .pulldown li span {
  transition: all .3s;
  visibility: hidden;
}
.MobileHeader .pulldown li:hover span {
  visibility: visible;
}
.MobileHeader .pulldown li:hover span.left {
  margin-right: 1em;
}
.MobileHeader .pulldown li:hover span.right {
  margin-left: 1em;
}
@media screen and (max-width: 768px) {
  .MobileHeader .antd-icon {
    font-size: 24px;
  }
  .MobileHeader .pulldown li {
    width: 5em;
    font-size: 12px;
  }
}
